.sidebarEdit { background-color: red;}
.pageEdit { overflow-x: hidden;}
.dataTable { overflow: hidden; width: 100%; margin: auto; text-align: center; display: flex-end; justify-content: center; align-items: center;}
